<html>
  <head>
    <title>Mapbox Spots</title>
    <link rel='stylesheet' href='spots.css' />

    <script src="lib/leaflet.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/data.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.hotkeys.js"></script>
    <script src="lib/dance.js"></script>
    <script src="spots.js"></script>

    <script type="text/x-ejs-template" name="overview">
      <div class="spots">
        <% spots.each(function(spot) { %>
          <div class="spot" data-id="<%= spot.id %>">
            
          </div>
        <% }); %>
      </div>
    </script>

    <script type="text/x-ejs-template" name="nav_spot">
      <div class="spot<%= active ? " active" : "" %>" id="<%= spot.id %>" data-id="<%= spot.id %>">
        
      </div>
    </script>

    <script type="text/x-ejs-template" name="spot">
      <div class="spot-details" data-id="<%= spot.id %>">
        <div><input type="text" class="name" placeholder="Enter Name" value="<%= spot.name %>" maxlength="30"/></div>
        <div><textarea class="descr" placeholder="Description&hellip;" maxlength="140"><%= spot.descr %></textarea></div>
        <div><a href="#" class="remove-spot"></div>
      </div>
    </script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>MapBox Spots&#8482;</h1>
        <div class="subtitle">Tell a story, using maps.</div>
      </div>
      <div id="map_wrapper" style="width: 100%; height: 100%">
        <div id="map" style="width: 100%; height: 100%;">

        </div>
        <div class="spots-container">
          <div class="spot-details"></div>
          <div class="spots-navigation"></div>
        </div>
      </div>

      <script>

      $(function() {
        var map = new L.Map('map', {
            layers: new L.TileLayer('http://a.tiles.mapbox.com/v3/mapbox.mapbox-streets/{z}/{x}/{y}.png', {}),
            center: new L.LatLng(51.505, -0.09),
            zoom: 13,
            maxZoom: 17,
            attributionControl: false
          });

        var spots = new Data.Hash({
          "spot1": {
            "latitude": 51.505,
            "longitude": -0.09,
            "name": "A spot",
            "descr": "A spot saying hello"
          },
          "spot2": {
            "latitude": 40.505,
            "longitude": -0.08,
            "name": "Another",
            "descr": "Another spot"
          }
        });

        var spots = new Spots({
          el: '.spots-container',
          map: map,
          spots: spots
        });

        spots.bind('update', function(spots) {
          // store spots, anyone?
        });

        spots.render();
      });
      </script>
    </div>

    <a href="http://github.com/michael/pinpoint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_gray_6d6d6d.png&path=" alt="Fork me on GitHub"></a>
  </body>
</html>
