/* wtf */
.place {
  width:50px;
}

.point-icon {
  width:20px;
  height:50px;
  background:url(markers.png);
  position:absolute;
}

.icon-a { background-position:-22px 0; }
.icon-b { background-position:-43px 0; }
.icon-c { background-position:-64px 0; }
.icon-d { background-position:-86px 0; }
.icon-e { background-position:-107px 0; }
.icon-f { background-position:-129px 0; }
.icon-g { background-position:-149px 0; }
.icon-h { background-position:-169px 0; }
.icon-i { background-position:-191px 0; }
.icon-j { background-position:-211px 0; }
.icon-k { background-position:-233px 0; }
.icon-l { background-position:-254px 0; }
.icon-m { background-position:-275px 0; }
.icon-n { background-position:-296px 0; }

.spot-popup {
  font:13px/20px 'Helvetica Neue';
  padding:10px;
  width:280px;
  z-index:999;
  background:#fff;
  display:none;
  position:absolute;
  -webkit-box-shadow: rgba(0, 0, 0, .25) 0px 0px 5px
}

.spot-popup h3, .spot-popup p {
  margin:0;
}
