/* wtf */
.place {
  width:50px;
}

.point-icon {
  width:20px;
  height:30px;
  background:url(markers.png);
  position:absolute;
}

.icon-a { background-position:-22px 0; }
.icon-b { background-position:-43px 0; }
.icon-c { background-position:-64px 0; }
.icon-d { background-position:-86px 0; }

#point-select {
  display:none;
}

.spot-popup {
  font:13px/20px 'Helvetica Neue';
  padding:10px;
  width:280px;
  z-index:999;
  background:#fff;
  display:none;
  position:absolute;
}

.spot-popup h3, .spot-popup p {
  margin:0;
}
