body {
  margin: 0;
  padding: 0;
  font: 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  }

textarea,
input { font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; }

textarea#embed {
  font:10px/12px monospace;
  height:100px;
}

/* wtf */
.place {
  width:50px;
}

.point-icon {
  width:20px;
  height:50px;
  background:url(markers.png);
  position:absolute;
  cursor:move;
}

.icon-a { background-position:-22px 0; }
.icon-b { background-position:-43px 0; }
.icon-c { background-position:-64px 0; }
.icon-d { background-position:-86px 0; }
.icon-e { background-position:-107px 0; }
.icon-f { background-position:-129px 0; }
.icon-g { background-position:-149px 0; }
.icon-h { background-position:-169px 0; }
.icon-i { background-position:-191px 0; }
.icon-j { background-position:-211px 0; }
.icon-k { background-position:-233px 0; }
.icon-l { background-position:-254px 0; }
.icon-m { background-position:-275px 0; }
.icon-n { background-position:-296px 0; }

#point-select {
  width:290px;
  height:30px;
  padding:5px;
  overflow:auto;
  white-space:nowrap;
}

#point-select .point-icon {
  cursor:pointer;
  position:relative;
  float:left;
  opacity:0.5;
}

#point-select .point-icon.selected {
  opacity:1;
}

#edit-form {
  position:absolute;
  display:none;
  z-index:99999;
  width:300px;
  -webkit-box-shadow: rgba(0, 0, 0, .25) 0px 0px 5px
}

.edit-inner {
  padding:5px;
  background:#fff;
}

.edit-inner input {
  font-size:20px;
  line-height:30px;
  height:40px;
}

.edit-inner input,
.edit-inner textarea {
  width:280px;
  margin:5px;
}

.buttons {
  padding:5px;
}
