body {
  margin: 0;
  padding: 0;
  font: 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  }

textarea,
input { font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif; }

textarea#embed {
  font:10px/12px monospace;
  height:100px;
}

/* wtf */
.place {
  width:50px;
}

.point-icon {
  width:20px;
  height:30px;
  background:url(markers.png);
}

.icon-a { background-position:-22px 0; }
.icon-b { background-position:-43px 0; }
.icon-c { background-position:-64px 0; }
.icon-d { background-position:-86px 0; }

#point-select div {
  float:left;
}

#edit-form {
  background:#fff;
  display:none;
}
